<div class="home">
    <!-- Bannière -->
    <header class="banner">
      <h1>Bienvenue sur Pokedex</h1>
      <p>Explorez le monde des Pokémon!</p>
    </header>
  
    <!-- Fonctionnalités principales -->
    <section class="features">
      <div class="feature">
        <h2>Découvrez les Pokémon</h2>
        <p>Explorez une vaste collection de Pokémon, leurs caractéristiques et leurs capacités.</p>
      </div>
      <div class="feature">
        <h2>Ajoutez à vos favoris</h2>
        <p>Sauvegardez vos Pokémon préférés dans votre liste de favoris.</p>
      </div>
      <div class="feature">
        <h2>Utilisation facile</h2>
        <p>Naviguez facilement à travers les pages.</p>
      </div>
    </section>
  
    <!-- Pied de page -->
    <footer class="footer">
      <p>&copy; 2024 Pokedex. Tous droits réservés.</p>
    </footer>
  </div>
  